:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent-color: #32df8f;
    --btn-primary-color:#666666 ;
    --btn-secondary-color:#00a651 ;
    --background-primary-color: #e5e5e5;
    --background-secondary-color: #ecf1f0;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-color);
}

a{
    color: inherit;
    text-decoration: none;
}

.header{
    background: url(img/header-bg.jpg) center center / cover no-repeat; 
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    width: calc(100% - 280px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.logo{
    font-family: 'Laila', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.logo span{
    font-size: 1.5rem;
}

.nav-links a{
    margin: 0 10px;
    font-size: 1rem;
}

.landing-block{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing-title{
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.2em;
    margin-bottom: 50px;
}

.landing-block p{
    margin-bottom: 30px;
}

.more{
    background-color: var(--btn-secondary-color);
    display: block;
}